@import "tailwindcss";

html {
  overscroll-behavior-y: "smooth";
  scroll-padding-top: 70px; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Register Form */
.css-1r4s7tk-MuiStepLabel-labelContainer {
  color: white !important;
}

.css-1366ptz-MuiSvgIcon-root-MuiStepIcon-root {
  color: grey !important;
}



/* Reader Page */
.reader_page .css-101ugo9-MuiSvgIcon-root {
  color: grey !important; 
}

.reader_page .css-1umw9bq-MuiSvgIcon-root {
  color: grey !important; 
}

.reader_page .css-1od07t3-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-input {
  color: white !important; 
}

/* Date Picker*/ 
.css-djzwxv-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  color: black !important;
  border: 1px solid #000  !important;
  border-radius: 4px !important;
}

/* Tables */
.css-6oe8-MuiDataGrid-root .MuiDataGrid-row:hover ,
.css-wbhcvm-MuiDataGrid-root .MuiDataGrid-row:hover{
  background-color: #242329 !important;
} 


.css-6oe8-MuiDataGrid-root .MuiDataGrid-columnHeaders .MuiDataGrid-scrollbarFiller,
.css-wbhcvm-MuiDataGrid-root .MuiDataGrid-columnHeaders .MuiDataGrid-scrollbarFiller,
.css-6oe8-MuiDataGrid-root .MuiDataGrid-columnHeader,
.css-wbhcvm-MuiDataGrid-root .MuiDataGrid-columnHeader{
  background-color: #242329 !important;
}



/* Scrollbar for Profile */
.table_scrollbar::-webkit-scrollbar,
.css-1ablnqd::-webkit-scrollbar {
  width: 6px !important; 
}

.table_scrollbar::-webkit-scrollbar-track {
  background: "red" !important; 
}

.table_scrollbar::-webkit-scrollbar-thumb {
  background: #e72544 !important;
  border-radius: 3px !important; 
}

.table_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e72544 !important;
}

.register_scrollbar::-webkit-scrollbar {
  width: 4px !important; 
}

.register_scrollbar::-webkit-scrollbar-thumb {
  background: #e72544 !important;
  border-radius: 3px !important; 
}

.register_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e72544 !important;
}







